<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jung_jaejin.myproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/eprep22"
        android:label="Eprep"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".month" />
        <activity android:name=".Studystart" />
        <activity android:name=".ManageResult" />
        <activity android:name=".Starttest" />
        <activity android:name=".Test" />
        <activity android:name=".ResultPage" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".Signup2" />
        <activity android:name=".Study1" />
        <activity android:name=".Studystart_review" />
        <activity android:name=".Review" />
        <activity android:name=".ChangeWord" />
        <activity android:name=".Weekteststart" />
        <activity android:name=".WeeklyTest" />
        <activity android:name=".MonthlyTest" />
        <activity android:name=".MonthlyTestStart" />
        <activity android:name=".ResultofWeekly" />
        <activity android:name=".ResultofMonthly" />
        <activity android:name=".Showtipofstudy" />
        <activity android:name=".Showtipsofdaytest" />
        <activity android:name=".Showtipofweektest" />
        <activity android:name=".Showtipofmonthtest"></activity>
    </application>

</manifest>